
<!-- 
    1. Creating form Via HTML
    2. Applying the formGroup directive and binding it to form and binding the ngSubmit event to the login method
    3. Then we associate each input field to the FormControl object by using formControlName directive. 
        - This is important for referencing the FormControl obejct from FormGroup. Angular will look at the FormGRoup object and expects to find the FormControl object with the exact name we specify in "formControlName"
        - If it cant find a control with that name then it will throw an exception.
    4. We then check username CSS classes touched and valid to see if the control has been touched and the input value is not valid. 
        - if so, then display the message within the div. 
-->

<form [formGroup]='form' (ngSubmit)="login()"> 
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" class="form-control" 
            formControlName="username"/>
            <div *ngIf="form.controls.username.touched && !form.controls.username.valid" class="alert alert-danger">
                Username is required!
            </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" class="form-control" 
            formControlName="password"/>
            <div *ngIf="form.controls.password.touched && !form.controls.password.valid" class="alert alert-danger">
                Password is required!
            </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>